

/*
### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900  */

:root{
  --title: hsl(223, 47%, 23%);
  --text: hsl(224, 23%, 55%);
  --background: hsl(225, 100%, 94%);
  --button: hsl(245, 75%, 52%);
  --card-color: hsl(225, 100%, 98%);
}

body{
  background-color: var(--background);
}
